"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "linter-jscs"
      "linter-js-standard"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles:
      cr: false
      eol: false
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "156e8255-446b-cbd5-e658-41e3a0e9ec3e"
  linter:
    errorPanelHeight: 23
  tabs:
    usePreviewTabs: true
  welcome:
    showOnStartup: false
