"*":
  editor:
    fontSize: 16
    fontFamily: "Monaco"
    autoIndent: true
    normalizeIndentOnxPaste: true
    showLineNumbers: true
    showIndentGuide: true
    tabLength: 4
    invisibles: {}
  whitespace:
    ensureSingleTrailingNewline: true
    removeTrailingWhitespace: true
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  jsformat: {}
  "one-light-ui": {}
  "exception-reporting":
    userId: "040e9752-7259-a1df-a747-770a1051498e"
  welcome:
    showOnStartup: false
  react: {}

