"*":
  "atom-beautify":
    html:
      end_with_newline: true
      indent_inner_html: true
    js:
      end_with_newline: true
      indent_size: 2
      space_after_anon_function: true
  autosave:
    enabled: true
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "linter-jscs"
      "language-javascript-jsx"
      "minimap"
      "linter-js-standard"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    titleBar: "custom"
  editor:
    invisibles:
      cr: false
      eol: false
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: true
  linter: {}
  minimap: {}
  "seti-ui":
    themeColor: "Steel"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs:
    usePreviewTabs: true
  "todo-show":
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "**/_bower"
    ]
    sortAscending: false
    sortBy: "Type"
  "tree-view":
    autoReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: false
    ignoredNames: [
      ".DS_Store"
    ]
  welcome:
    showOnStartup: false
